<div class="container-fluid jumbotron" ng-if="!aboutVm.auth">
  <h2>Please login to continue !</h2>
</div>

<div class="container-fluid overflow" ng-if="aboutVm.auth">
  <div class="jumbotron about">
    <h2 class="text-center">ABOUT BASE APP</h2>
    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
       by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of
      Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
  </div>
  <div class="jumbotron">
    <p>
      All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first
      true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence
      structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition,
      injected humour, or non-characteristic words etc.It uses a dictionary of over 200 Latin words, combined with a handful of model sentence
      structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition,
      injected humour, or non-characteristic words etc.
    </p>
  </div>
  <div class="jumbotron contact" id="contact">
    <p>GET IN TOUCH</p>
    <br>
    <p class="contact-color">Phone:(999)999-9999</p>
    <p class="contact-color">Email:kushalraghavpoojari@gmail.com</p>
  </div>

</div>
